<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>카테고리 선택</title>
</head>
<body>
<h1>카테고리 선택</h1>
<form action="/select/cate" method="post">
    <p><input type="checkbox" name="check" value="1">정치
    <p><input type="checkbox" name="check" value="2">경제
    <p><input type="checkbox" name="check" value="3">사회
    <p><input type="checkbox" name="check" value="4">IT/과학
    <p><input type="checkbox" name="check" value="5">연예
    <p><input type="checkbox" name="check" value="6">스포츠
    <p><input type="checkbox" name="check" value="7">문화
    <p><input type="checkbox" name="check" value="8">세계
    <p>닉네임<input type="text" name="nickname">
    <p><a href="../login/form"><button type="button">건너뛰기</button></a>
    <input type="submit" value="완료">
</form>
</body>
</html>